
/* HOMEPAGE */
.Anders {
    position: fixed;
    color: lightgray;
    margin: 0;
    margin-left: 2%;
    align-content: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    line-height:.5;
    z-index: 5;
    /* ANIMATIONS */
    animation: ak;
    animation-duration: 3s;
   
}

@keyframes ak{
    0%      {left: -150%}
    100%    {left: 0%}
}

.Lori {
    color: lightgray;
    position: relative;
    margin-top: 63%;
    bottom: 0;
    margin-right: 2%;
    float: right;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 80%;
    line-height:.5;
    z-index: 4;
    vertical-align: bottom;
     /* ANIMATIONS */
     animation: ld;
     animation-duration: 3s;
}

/* HOMEPAGE ANIMATIONS */
@keyframes ld{
    0%      {right: -150%}
    100%    {right: 0%}
}

img {
    position: absolute;
    z-index: 2;
    top: 0;
    margin-left: 30%;
    margin-right: 50%;
    margin-top: 30%;
    animation: img;
    animation-delay: 3s;
    animation-duration: 10s;
}

@keyframes img{ 
    0%      {transform:rotateY(360deg)}
}

body {
    background-color: gainsboro;
}

.box1:before{
    width: 50%;
}
.box1 {
    background: rgb(112, 116, 113);
    width: 50%;
    padding-bottom: 50%;
    position: absolute;
    z-index: -1;
    margin-left: 25%;
    top: 20%;
    transform: rotate(35deg);
}

.box1:after{
    display: block;
    padding-bottom: 100%;
}

.box2:before{
    width: 50%;
}

.box2 {
    background: chartreuse;
    width: 50%;
    padding-bottom:50%;
    position: absolute;
    z-index: -1;
    margin-left: 25%;
    top: 20%;
    transform: rotate(40deg);
}

.box2:after {
    display: block;
    padding-bottom: 100%;
}

.box3:before {
    width: 50%;
}

.box3 {
    background: lightgray;
    width: 50%;
    padding-bottom: 50%;
    position: absolute;
    z-index: -1;
    margin-left: 25%;
    top: 20%;
    transform: rotate(45deg);
}

.box3::after{
    display: block;
    padding-bottom: 100%;
}


.triangle-topright{  
        width: 0;
        height: 0;
        position: absolute;
        top: -2;
        z-index: -2;
        border-top: 600px solid rgb(71, 72, 72);
        border-left: 600px solid transparent;
        transform: rotate(270deg); 
}


.triangle-bottomleft {
        width: 0;
        height: 0;
        position: absolute;
        bottom: -1;
        z-index: -2;
        margin-left: 35%;
        margin-top: 10%;
        vertical-align: bottom;
        border-bottom: 600px solid rgb(71, 72, 72);
        border-left: 600px solid transparent;    
}

.btn {
    display: inline-block;
    color: rgb(112, 116, 113);
    opacity: 0;
    background-color: transparent;
    border-color: transparent;
    padding: 3%;
    font-size: medium;
    font-family: cursive;
    text-decoration: none;
    padding: 1rem, 2rem;
    position: absolute;
    align-content: center;    
    z-index: 2;
    margin-top: 45%;
    margin-left: 28%;
/* ANIMATION */
    animation: btn;
    animation-delay: 4s;
    animation-duration: 5s; 
    animation-fill-mode: forwards;
}

@keyframes btn{
    0%      {opacity: 0}
    100%    {opacity: 100}
}