* {
    margin: 0;
    padding: 0;
}

.Anders {
    font-family: Arial, Helvetica, sans-serif;
}

.Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.row {
    display: flex;
    align-content: center;
}

.Background {
    background-image: url('../Images/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {
    display: flex !important;
    justify-content: end !important;
    background: transparent;
    border: none;
    text-decoration: none;
    color: black;
}

a {
    color: white;
    border-radius: 10px !important;
    padding: 10px 20px;
}

.item2 {
    display: flex;
    justify-content: space-evenly;
}

.item1 {
    display: flex;
    justify-content: center;
    align-items: space-between;
    padding-right: 25px;
    color: white;
}