* {
    margin: 0;
    padding: 0;
}

.Title {
    display: flex;
    justify-content: center;
}

.div {
    border: black thick 5px;
    color: blue;
}

.row {
    display: flex;
    align-content: center;
}

.Wyoming {
    height: 300px;
    width: 250px;
}

.Background {
    background-image: url('../Images/Background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}