.Title {
    display: flex;
    justify-content: center;
}

.ContactBackground {
    background-image: url('../Images/BTthankYou2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1;
}


.container4m {
    position: relative;
    color: aquamarine;
    margin-left: 33%;
    margin-top: 8%;
}

.item3 {
    display: flex;
    justify-content: center;
    align-items: center;
}



