.nav {
    color: teal;
}


.brLogo {
    /* height: 200px;
    width: 200px; */
    width: 20%;
    padding-bottom: 35%;
    position: absolute;
    z-index: 1;
    margin-left: 63%;
    top: 35%; 
    animation: img;
    animation-delay: 3s;
    animation-duration: 10s;
    animation-iteration-count: 3;
}

@keyframes img{ 
    0%      {transform:rotateY(360deg)}
}

p {
    font-size: large;
    margin-left: 55%;
}
.body {
    background-image: url('../Images/BThome.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* position: fixed; */ 
    color: rgb(37, 63, 103);
    padding: 1%;
  
    /* align-content: left; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    line-height:.5;
    z-index: 1;
    /* ANIMATIONS */
    animation: ak;
    animation-duration: 3s;
   
}

@keyframes ak{
    0%      {opacity: 0}
    100%    {opacity: 1}  
}

.box1:before{
    width: 25%;
}
.box1 {
    background:   rgb(46, 62, 104);
    width: 20%;
    padding-bottom: 20%;
    position: absolute;
    z-index: 0;
    margin-left: 63%;
    top: 30%;
    transform: rotate(35deg);
    animation: ak;
    animation-duration: 3s;
   
}

@keyframes ak{
    0%      {left: -150%}
    100%    {left: 1%}  
}


.box1:after{
    display: block;
    padding-bottom: 100%;
}

.box2:before{
    width: 25%;
}

.box2 {
    background: rgb(184, 186, 189);   
    width: 20%;
    padding-bottom: 20%;
    position: absolute;
    z-index: 0;
    margin-left: 63%;
    top: 30%;
    transform: rotate(40deg);
    animation: ld;
    animation-duration: 3s;
}

/* HOMEPAGE ANIMATIONS */
@keyframes ld{
   0%      {right: -150%}
   100%    {right: 15%}
}

.box2:after {
    display: block;
    padding-bottom: 100%;
}

.box3:before {
    width: 25%;
}

.box3 {
    /* background: rgb(165, 166, 169); */
    background: rgb(2, 8, 24);
    width: 20%;
    padding-bottom: 20%;
    position: absolute;
    z-index: 0;
    margin-left: 63%;
    top: 30%;
    transform: rotate(45deg);
    animation: ak;
    animation-duration: 3s;
   
}

@keyframes ak{
    0%      {left: -150%}
    100%    {left: 1%}  
}

.box3::after{
    display: block;
    padding-bottom: 100%;
}

.Developers {
    vertical-align: -webkit-baseline-middle;
}
