.LDiv {
    margin: 0;
    padding: 1em 2em;
    text-align: center;
    font-size: 1.1em;
    line-height: 1.5;
    align-content: center;
    /* ... */
    background-color: rgb(220, 220, 220);
    color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.LDClove2code {
    display: block;
    width: 100%;
    height: auto;
}

ul {
    display: flex;
    justify-content: space-around;
  }

.col-lg-6 .col-lg-8 {
    justify-items: left; 
}

.LDcontainer {
    display: block;
}

.jumbotron {
    /* color: rgb(213, 233, 233); */
    background-image: url('../Images/bkgdCodeBlue.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
   
    /* no-repeat center center/cover */
    font-family: 'Covered By Your Grace', cursive;
    color: rgb(7, 80, 80);
    /* z-index: -1; */
}

.LDh1 {
    padding-bottom: 1.5em;
}


.skills-a {
    color: rgb(201, 206, 206);
    background:rgb(2, 80, 80);
    padding: 1em 2em;
    margin-bottom: 1em;
    text-align: center;
}


.skills-b {
    background-color: rgba(229, 244, 244, 0.851);
    padding: 1.5em 2em;
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(226, 192, 129), 0 10px 15px rgb(215, 154, 122);
}

.skills-c {
    padding: 0;
    margin-bottom: 1em;
    background: transparent;

}

.skills-c .breakthroughGreyTeal {
    width: 50%;
    height: auto;
    padding-bottom: 1em;
}

.skills-d .story{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1em;
    padding: 1em 1em;
    font-size: large;
    text-align: center;
    background-color: rgb(254, 255, 255);
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(7, 97, 99), 0 10px 15px rgb(7, 97, 99);
    /* background-color: rgb(201, 206, 206); */
    color:rgb(7, 80, 80);
}

/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

@media (min-width: 700px) {
   .LDiv .grid {
        display: grid;
        grid-template-columns: 1fr repeat(1, minmax(auto, 25em))
    }

.jumbotron .LDClove2code{
    /* margin: 2%;
    padding: 2%; */
    width: 100%;
    overflow: hidden;
}

.skills-a .story2 {
    display: block;
    min-width: 100%;
    height: auto;
    /* text-align: wrap; */
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
   
    padding-top: 2em;
}

.box {
    display: block;    
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1 em 2em;
}

}
