.div {
    background-color: rgb(220, 220, 220);
    color: teal;
    padding: 1%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-lg-6 {
    justify-content: left;
}

.animated {
    color: pink;
}

.container {
    display: block;
}

.jumbotron {
    /* color: rgb(213, 233, 233); */
    background-image: url('../Images/bkgdCodeBlue.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 1%;
    /* no-repeat center center/cover */
    font-family: 'Covered By Your Grace', cursive;
    color: rgb(7, 80, 80);
}


.skills {
    display:flex;
    font-size: xx-large;
    justify-content: left;
  }

  .skillset {
    display:flex;
    font-size: xx-large;
    justify-content: left;
  }

h1:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.story {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    font-size: large;
    justify-items: auto;
}

.LDClove2code {
    align-self: center;
}

  .me {
   align-content: flex-end;
   /* flex-wrap: wrap; */
   font-size: xx-large;
  }

  .col-lg-4 {
      align-content: flex-start;
  }

  .logo {
      background-color: black;
     margin-left: 60%;
  }
 