.LDiv {
    background-color: rgb(220, 220, 220);
    color: teal;
    /* padding: 1%; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.col-lg-6 .col-lg-8 {
    justify-items: left; 
}

.LDcontainer {
    display: block;
}

.jumbotron {
    /* color: rgb(213, 233, 233); */
    background-image: url('../Images/bkgdCodeBlue.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    opacity: 1%;
    /* no-repeat center center/cover */
    font-family: 'Covered By Your Grace', cursive;
    color: rgb(7, 80, 80);
}


.skills {
    display:flex;
    font-size: xx-large;
    justify-content: left;
  }


.LDh1:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.story {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    font-size: large;
    justify-items: auto;
}

.LDClove2code {
    align-self: center;
}

  .me {
   align-content: flex-end;
   /* flex-wrap: wrap; */
   font-size: xx-large;
  }

  .col-lg-11 .col-lg-offset-1 {
    padding: 2rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    /* max-width: 23.75rem; */
    background-color: rgb(201, 206, 206);
    border-radius: 3px;
    box-shadow: 0 15px 35px rgb(7, 97, 99), 0 10px 15px rgb(7, 97, 99);
/* 
    display: inline-block;
    justify-items: center;
    margin: 0;
    padding: 1%; */
}


  /* .logo {
      background-color: black;
     margin-left: 60%;
  } */
 